<div class="bg-blue">

	{% include './_top-hero.twig' %}

	<section class="text-white mt-[100px] xs:mt-[50px] overflow-hidden" id="part-1">
		<div class="width-container">
			<div class="content-wrapper mb-60">
				<blockquote class="col-start-3 col-span-8 -small">
					<p data-split>
						It was well past midnight by the time the two art students made it back to
						camp. Hours before, Baatarzorig Batjargal and Nomin Bold were separated
						from the rest of their class during a field trip to Ikh Bogd, the highest
						mountain in Gobi Altai range in southwestern Mongolia.
					</p>
				</blockquote>
			</div>
			<div class="content-wrapper mb-[45px]">
				<div class="col-start-2 col-span-4 sm:mb-[40px] sm:text-center">
					<picture>
						<source srcset="{{ url.step1 }}img/art2/hero2.webp" type="image/webp">
						<img src="{{ url.step1 }}img/art2/hero2.png" alt="image">
					</picture>
				</div>
				<div class="flex items-center h-full col-start-6 col-span-6 fadeIn"
					data-scroll>
					<p>As they were trying to find the rest of the group, Baatarzorig and his
						now-wife came across a ger-dwelling family who took them in and fed them
						before guiding them back to reunite with their classmates. “In nature, you
						are so little,” says Baatarzorig, but it’s the memories of the generosity
						and giving nature of the nomadic family who took them in that stick out in
						his mind.</p>
				</div>
			</div>

		</div>
		<div class="bg-no-repeat bg-bottom bg-size-full">
			{# <img src="{{ url.step1 }}img/air-pin.png" alt> #}
			<div class="parallax-2 pt-[35px]">
				<!-- <img class="layer-1 paralax-first parallax-item" src="{{ url.step1 }}img/art2/paralax-img2-1.png" /> -->

				<picture>
					<source srcset="{{ url.step1 }}img/art2/paralax-img2-1.webp"
						type="image/webp">
					<img class="layer-4 paralax-first parallax-item z-index-top"
						src="{{ url.step1 }}img/art2/paralax-img2-1.png" alt="image">
				</picture>
				<picture class="bg-yellow">
					<img class="layer-1 parallax-item z-index-top"
						src="{{ url.step1 }}img/art2/paralax-img2-11.png" alt="image">
				</picture>

				<picture>
					<source srcset="{{ url.step1 }}img/art2/paralax-img2-2.webp"
						type="image/webp">
					<img class="layer-5 vector-top-left parallax-item"
						src="{{ url.step1 }}img/art2/paralax-img2-2.png" alt="image">
				</picture>
			</div>
		</div>

	</section>
</div>

<section class="bg-beige pt-[100px] xs:pt-[60px]">
	<div class="width-container" data-light-bl="-200, 0">

		<div class="content-wrapper media-block mb-[80px] xs:mb-[35px]">

			<div class="col-span-12">
				<h2 class="section-title text-blue" data-type="title">Art Imitating Life</h2>
			</div>
			<div class="media-block__media xl:mr-[-6%] sm:mr-[0]">
				<p class="fadeIn mb-30 xs:hidden" data-scroll>Today, Baatarzorig is an
					accomplished painter whose works have been exhibited internationally in
					Europe, China, and Australia. Through his colorful paintings, which feature
					an eclectic cast of characters including animals, pop icons, historical and
					religious figures, Baatarzorig explores the loss of Mongolian cultural
					heritage to the lures of a free market economy, drawing from Mongol Zurag
					painting techniques to blend traditional and contemporary styles.
				</p>
				<p class="fadeIn sm:mb-40 xs:hidden" data-scroll>Characterized by ultra-fine
					brushwork and a flattened perspective influenced by Tibetan Buddhist tangka
					paintings, Mongol Zurag was first established in the late 1990s as a
					subject at the Mongolian University of Arts and Culture—Baatarzorig’s alma
					mater—as the country sought to reclaim its national identity.</p>
			</div>

			<div
				class="flex items-center xs:flex-col media-block__text sm:mb-40 xl:ml-[-6%] sm:ml-[0]">
				<p class="fadeIn hidden xs:block xs:mb-30" data-scroll>Today, Baatarzorig is
					an accomplished painter whose works have been exhibited internationally in
					Europe, China, and Australia. Through his colorful paintings, which feature
					an eclectic cast of characters including animals, pop icons, historical and
					religious figures, Baatarzorig explores the loss of Mongolian cultural
					heritage to the lures of a free market economy, drawing from Mongol Zurag
					painting techniques to blend traditional and contemporary styles.
				</p>
				<p class="fadeIn hidden xs:block xs:mb-30" data-scroll>Characterized by
					ultra-fine brushwork and a flattened perspective influenced by Tibetan
					Buddhist tangka paintings, Mongol Zurag was first established in the late
					1990s as a subject at the Mongolian University of Arts and
					Culture—Baatarzorig’s alma mater—as the country sought to reclaim its
					national identity.</p>

				<picture class="h-[320px] xs:h-[54vw] w-full block overflow-hidden">
					<source srcset="{{ url.step1 }}img/art2/article2-1.webp" type="image/webp">
					<img class="h-[320px] object-cover w-full h-full scaleDown"
						src="{{ url.step1 }}img/art2/article2-1.jpg" alt="image" data-scroll>
				</picture>
			</div>
		</div>

		<div class="content-wrapper media-block">
			<div
				class="flex items-end sm:block media-block__media sm:justify-center sm:mb-[60px] xs:mb-[40px] xl:mr-[-6%] sm:mr-[0]">

				<p class="fadeIn hidden sm:block xl:mb-40" data-scroll>
					The artistic style has since found popularity amongst a new generation of
					artists to address the contradictions of life amid competing cultural and
					ideological influences.
				</p>
				<blockquote class="hidden sm:block xl:mb-[45px]">
					<span class="block text-red">“</span>
					<p class="text-red" data-split>
						Mongol Zurak is a very wide-angle way of looking at things on one flat
						surface on which time, myths, legends, the past, present, and future, can
						all be layered.
					</p>
					<figcaption>
						Baatarzorig Batjargal
					</figcaption>
				</blockquote>

				<div
					class="overflow-hidden rounded-[45%_45%_0_0] xs:max-w-[80%] xs:mx-auto sm:text-center">

					<picture>
						<source srcset="{{ url.step1 }}img/art2/article2-2.webp" type="image/webp">
						<img class="scaleDown" data-scroll
							src="{{ url.step1 }}img/art2/article2-2.png"
							alt="image">
					</picture>
				</div>
			</div>
			<div
				class="col-start-7 col-span-5 flex flex-col gap-[40px] xl:ml-[-6%] sm:ml-[0]">
				<p class="fadeIn sm:hidden" data-scroll>
					The artistic style has since found popularity amongst a new generation of
					artists to address the contradictions of life amid competing cultural and
					ideological influences.
				</p>
				<blockquote class="sm:hidden">
					<span class="block text-red">“</span>
					<p class="text-red" data-split>
						Mongol Zurak is a very wide-angle way of looking at things on one flat
						surface on which time, myths, legends, the past, present, and future, can
						all be layered.
					</p>
					<figcaption>
						Baatarzorig Batjargal
					</figcaption>
				</blockquote>
				<p class="fadeIn" data-scroll>
					In recent years, he has been fascinated by the Silk Road, in particular the
					cultural affinity threaded through food, religion, and clothing found along
					the ancient trade route. It’s this same interwoven tangle of cultures,
					often contradictory, that he explores in his artwork, for example a
					Buddhist deity with Mickey Mouse ears to beg the question: “Where is the
					center of global peace?” or the depiction of a prosperous Chinese man with
					the same oversized ears to illustrate interrelations between two
					geopolitical powers.
				</p>
			</div>
		</div>
	</div>
	<div
		class="poster poster_mob-auto mt-[100px] xs:mt-[50px] h-screen relative bg-no-repeat bg-cover overflow-hidden">
		<div class="full-screen full-screen_mob-auto" data-scroll
			data-scroll-speed="-8" data-scroll-offset="-50%, -50%">

			<picture class="portrait:hidden">
				<source srcset="{{ url.step1 }}img/art2/poster2.webp" type="image/webp">
				<img class="full-screen object-cover xs:scale-[1] tab-p:scale-[1]"
					src="{{ url.step1 }}img/art2/poster2.jpg" alt="image">
			</picture>

			<picture class="hidden portrait:block">
				<source srcset="{{ url.step1 }}img/art2/poster-mob2.webp" type="image/webp">
				<img class="full-screen object-cover xs:scale-[1] tab-p:scale-[1]"
					src="{{ url.step1 }}img/art2/poster-mob2.jpg" alt="image">
			</picture>
		</div>

	</div>
</section>
<div data-light-bl="-200, 0">
	<div class="map-outer">
		{% include "./_map.twig" %}
	</div>
	<section class="my-[100px] xs:my-50">
		<div class="width-container">
			<h2 class="section-title text-red" data-type="title">The Mongol Identity</h2>
			<div class="content-wrapper">
				<div class="text-block col-start-3 col-span-8">
					<p class=" fadeIn" data-scroll>At its peak, the Mongol Empire comprised
						nomadic tribes unified under the rule of Genghis Khan, stretching from
						modern day Eastern Europe to Southern China. In 1960, almost two-thirds of
						the population, most of them nomadic herders, lived in the countryside.
						This number has been dwindling in recent decades, and in the face of
						global
						warming, nomads, with their unique ability to thrive in extreme climates
						ranging from −40 °F to 113 °F (−40 °C to 45 °C), offer a glimpse of living
						in tune with the environment, serving as an example of a true sustainable
						lifestyle.</p>
				</div>
			</div>
		</div>
		<div
			class="media-ellipse media-ellipse_second my-[100px] xs:my-[40px] sm:my-[60px] overflow-hidden">
			<div class="width-container">
				<div class="content-wrapper">
					<video
						class="h-[274px] sm:w-[70%] sm:h-[170px] xs:w-[220px] xs:h-[83px] sm:mx-auto object-cover w-full rounded-full col-start-2 col-span-10 md:col-start-3 md:col-span-8"
						autoplay loop muted playsinline data-video-preload>
						<source
							data-src="https://player.vimeo.com/progressive_redirect/playback/873949001/rendition/360p/file.mp4?loc=external&signature=8b1c1c1ff39dc0b6572f9a94dcdd8373682431bde269223e7295225c839e851f"
							type="video/mp4">
					</video>
				</div>
			</div>
		</div>
		<div class="width-container">
			<div class="content-wrapper">
				<div class="text-block col-start-3 col-span-8 mb-100 xs:mb-40 sm:mb-60">
					<blockquote class="-xl">
						<span class="block text-blue">“</span>
						<p class="text-blue" data-split>
							I have this inner part of me that is inextricably linked to my nomadic
							past, to me being a true Mongol. That’s where I tap my inspiration from.
						</p>
						<figcaption>
							Baatarzorig Batjargal
						</figcaption>
					</blockquote>
					<p class=" fadeIn" data-scroll>
						Crediting his late maternal grandmother for nurturing his love for his
						culture, he reveals that his future works will pay homage to Mongolian
						women, showcasing their influential role in passing on the nomadic
						lifestyle to the younger generations.
					</p>
					<p class=" fadeIn" data-scroll>
						As part of Mongolia’s <a
							href="https://cabinet.gov.mn/wp-content/uploads/2050_VISION_LONG-TERM-DEVELOPMENT-POLICY.pdf"
							target="_blank">Vision 2050</a> roadmap to become a
						leading Asian country while respecting the heritage of the nation, the
						government is aiming to create a national identity and increase Mongolia’s
						profile in the world. One of the objectives outlined in the long-term
						development policy is to lay the groundwork for the development policy of
						the country’s creative industry, including in culture, arts, movie, music,
						design, and architecture.
					</p>
				</div>
			</div>
		</div>

		<div class="width-container">
			<div class="content-wrapper">
				<div
					class="shadow-videos w-full pb-[61%] relative rounded-[24px] overflow-hidden col-start-2 col-span-10 mb-100 xs:mb-40 sm:mb-60 fadeIn"
					data-scroll data-video-click>
					<video
						class="w-full object-cover h-full absolute left-0 right-0 is-play-video"
						autoplay
						loop muted playsinline data-video-click-stop data-video-preload>
						<source
							data-src="https://player.vimeo.com/progressive_redirect/playback/873948958/rendition/720p/file.mp4?loc=external&signature=a9807f61d605580d0896924897a3ccbed853e9b4e0c35cb167b0b87e41073846"
							type="video/mp4">
					</video>
					<video
						class="w-full object-cover h-full absolute left-0 right-0 is-paused-video"
						loop
						muted
						controls
						playsinline data-video-click-play>
						<source
							data-src="https://player.vimeo.com/progressive_redirect/playback/873948835/rendition/720p/file.mp4?loc=external&signature=531f9bfa183a921635ea379fed9f63cb687eab5392e694dd37ac462965ce277e"
							type="video/mp4">
					</video>
					<button
						class="play-btn w-[110px] h-[110px] xs:w-[66px] xs:h-[66px] rounded-full absolute top-1/2 left-1/2 w-110 h-110 transform -mt-[55px] -ml-[55px] text-yellow xs:w-[66px] xs:h-[66px] xs:-mt-[33px] xs:-ml-[33px]"
						aria-label="play" data-magnetic data-video-click-playbtn2>
						<svg xmlns="http://www.w3.org/2000/svg" width="110" height="110"
							viewBox="0 0 110 110" fill="none">
							<circle cx="55" cy="55" r="55" fill="currentColor" />
							<circle opacity="0.2" cx="55" cy="55" r="55" fill="currentColor" />
							<path d="M50.1113 66.0001V42.7778L66.0002 53.7778L50.1113 66.0001Z"
								stroke="#D22832" stroke-width="3" stroke-linejoin="round" />
						</svg>
					</button>
				</div>
			</div>
		</div>

		<div class="width-container">
			<div class="content-wrapper">
				<div class="text-block col-start-3 col-span-8 fadeIn" data-scroll>
					<blockquote class="-xl">
						<span class="block text-orange">“</span>
						<p class="text-orange" data-split>
							Lorem ipsum dolor sit amet consectetur. A gravida in et enim bibendum
							dolor massa sollicitudin nulla. Enim quis tristique auctor venenatis
							vestibulum est massa turpis.

						</p>
						<figcaption>
							Nomin Chinbat
							<span>Minister of Culture of Mongolia</span>
						</figcaption>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
</div>
<section class="bg-blue horizontal-section">
	{% include 'pages/a2.the-mongol-identity/_horizontal.twig' %}
</section>
<section class="bg-beige pt-[100px] xs:pt-60" data-light-bl="-200, -600">
	<div class="width-container">
		<h2 class="section-title text-orange !mb-[38px] sm:!mb-[30px]"
			data-type="title">A Natural Connection</h2>

		<div class="content-wrapper media-block">
			<div class="col-start-3 col-span-8 mb-60 xs:mb-40">
				<p>While Baatarzorig mostly travels to exhibit his work internationally,
					when he does have time, he travels locally, particularly to the Gobi
					Desert, imbibing inspiration from its vast, beautiful yet barren nature.</p>
			</div>
			<div
				class="flex items-end xs:block media-block__media sm:justify-center sm:mb-[60px] xs:mb-[40px] sm:mr-[0]">
				<div
					class="overflow-hidden rounded-[45%_45%_0_0] w-full h-[486px] xs:h-[345px] max-w-[380px] xs:max-w-[270px] xs:mx-auto sm:text-center">
					<video class="w-full h-full object-cover block" autoplay loop muted
						playsinline data-video-preload>
						<source
							data-src="https://player.vimeo.com/progressive_redirect/playback/873949065/rendition/360p/file.mp4?loc=external&signature=01c92cc4e3eb9e491f79d88def77222eab758a6a35fb1cbd5dc0f773c1f091e0"
							type="video/mp4">
					</video>
				</div>
			</div>
			<div
				class="col-start-6 col-span-6 flex flex-col justify-end gap-[40px] sm:ml-[0]">
				<blockquote>
					<span class="block text-red">“</span>
					<p class="text-red" data-split>
						The Gobi doesn’t have a lot of elements, and I feel humbled by the
						vastness of nature. This space lets you meet yourself, your memories, and
						your thoughts.
					</p>
					<figcaption>
						Baatarzorig Batjargal
					</figcaption>
				</blockquote>
				<p class="fadeIn pr-[100px] xl:pr-0" data-scroll>
					Another of his favorite places is Khamriin Khiid, a monastery believed to
					be one of the entrances to Shambala, and where Baatarzorig believes
					visitors can absorb pure energy from nature. At the nearby Khanbayanzurkh,
					the Mountain of Wishes, he adds, dreams whispered into the side of the
					mountain are granted by nature.
				</p>
			</div>
		</div>

	</div>
	{# <div
		class="poster -mt-[20vh] bg-[url('{{ url.step1 }}img/parallax.png')] bg-size-full bg-no-repeat bg-bottom"></div>
	#}
	<div class="bg-no-repeat bg-bottom bg-size-full sm:mt-20 xs:mt-0">
		<div class="parallax-2 pt-[100px] xs:pt-80">

			<img class="paralax-bird layer-left parallax-item"
				src="{{ url.step1 }}img/art2/paralax-img2-5.png" />
			<picture>
				<source srcset="{{ url.step1 }}img/art2/paralax-img2-3.webp"
					type="image/webp">
				<img class="layer-5 parallax-item"
					src="{{ url.step1 }}img/art2/paralax-img2-3.png"
					alt="image">
			</picture>

			<picture>
				<source srcset="{{ url.step1 }}img/art2/paralax-img2-4.webp"
					type="image/webp">
				<img class="layer-4 paralax-first parallax-item"
					src="{{ url.step1 }}img/art2/paralax-img2-4.png"
					alt="image">
			</picture>

		</div>
	</div>
</section>
<section class="my-[100px] xs:my-60" data-light-bl="-200, 0">
	<div class=" width-container">
		<div class="content-wrapper mb-[100px] sm:mb-40 sm:flex sm:flex-col">
			<div
				class="col-span-6 text-block flex flex-col justify-end sm:mb-40 xl:mr-[-6%] sm:mr-[0] sm:order-1 sm:mt-40">
				<p class="fadeIn" data-scroll>
					<span class="sm:hidden">
						In addition to exploring Mongolia’s natural beauty, Baatarzorig recommends
						visitors experience a taste of the culture by living in a ger close to
						nature, visiting museums in Ulaanbaatar, trying out the local cuisine
						including a fermented mare’s milk drink called airag, and experiencing
						traditional festivals such as Naadam.
						<br><br>
					</span>
					“For the past 30 years, Western culture has been attractive, and before
					that Russian and Chinese,” he says.
				</p>
				<blockquote>
					<span class="block text-blue">“</span>
					<p class="text-blue" data-split>
						I hope that we are coming to a point where we find our own Mongolian
						culture attractive and are able to preserve it.
					</p>
					<figcaption>
						Baatarzorig Batjargal
					</figcaption>

				</blockquote>
			</div>
			<div
				class="col-start-8 col-span-4 md:col-span-5 md:col-start-8 flex flex-col justify-center xl:ml-[-6%] sm:ml-[0]">
				<p class="fadeIn hidden sm:block sm:mb-40" data-scroll>
					In addition to exploring Mongolia’s natural beauty, Baatarzorig recommends
					visitors experience a taste of the culture by living in a ger close to
					nature, visiting museums in Ulaanbaatar, trying out the local cuisine
					including a fermented mare’s milk drink called airag, and experiencing
					traditional festivals such as Naadam.
				</p>
				<div class="overflow-hidden mx-auto">

					<picture>
						<source srcset="{{ url.step1 }}img/art2/article2-4.webp" type="image/webp">
						<img class="media-block__media scaleDown"
							src="{{ url.step1 }}img/art2/article2-4.jpg"
							alt="image" data-scroll>
					</picture>
				</div>
			</div>
		</div>
	</div>
	<div class="width-container">

		<div class="content-wrapper">
			<img src="{{ url.step1 }}img/travel-widget.png" class="col-span-12 sm:hidden">
			<img src="{{ url.step1 }}img/travel-widget.svg"
				class="col-span-12 hidden sm:block w-full">
		</div>
	</div>
</section>
