<div class="bg-red">
	{% include 'pages/home/_top-hero.twig' %}
	<section class="text-white mt-[100px] xs:mt-[50px] overflow-hidden" id="part-1">
		<div class="width-container">
			<div class="content-wrapper mb-60">
				<blockquote class="col-start-3 col-span-8 -small">
					<p data-split>
						“In Mongolia,” says Orchlon Enkhtsetseg, climate-tech investor and founder
						of URECA, “you can remove yourself from a city setting almost instantly
						and find yourself completely surrounded by nature.”
					</p>
				</blockquote>
			</div>
			<div class="content-wrapper mb-[45px]">
				<div class="col-start-2 col-span-4 sm:mb-[40px] sm:text-center">
					<picture>
						<source srcset="{{ url.step1 }}img/hero.webp"
							type="image/webp">
						<img
							src="{{ url.step1 }}img/hero.png"
							alt="image">
					</picture>
					<!-- <img src="{{ url.step1 }}img/hero.png"> -->
				</div>
				<div class="flex items-center h-full col-start-6 col-span-6 fadeIn"
					data-scroll>
					<p>Born in Ulaanbaatar, Mongolia’s capital and home to nearly half of the
						country’s three million people, Enkhtsetseg grew up with nature on his
						doorstep. The seemingly endless grasslands known as the steppes envelop
						the city. Further south, the iconic Gobi Desert stretches all the way to
						the Chinese border, and to the west, dramatic, snow-coated mountains roll
						into Kazakhstan and Russia.</p>
				</div>
			</div>
			<div class="content-wrapper">
				<div class="col-start-3 col-span-8 text-block">
					<p class=" fadeIn" data-scroll>“What you see is what you get, both in terms
						of nature and the local communities,” says Enkhtsetseg, explaining
						Mongolia’s appeal. “The setting is so raw and natural, and that helps
						build very genuine business relationships.”</p>
					<blockquote class="-xl">
						<span class="block text-orange">“</span>
						<p class data-split>
							While most visitors are initially hooked by Mongolia’s landscapes, many
							come away finding that the friendships they made were the highlight of
							their experience.
						</p>
						<figcaption>
							Orchlon Enkhtsetseg
						</figcaption>
					</blockquote>
					<p class=" fadeIn" data-scroll>Mongolia’s vast wilderness, it turns out,
						isn’t just an invitation to a transformative travel experience. These
						lands also have the potential to expedite the world’s transition away from
						fossil fuels. And with Mongolia’s natural environment increasingly under
						threat from climate change, this transition couldn’t be more urgent.
					</p>
				</div>
			</div>
		</div>
		<div class="bg-no-repeat bg-bottom bg-size-full">
			{# <img src="{{ url.step1 }}img/air-pin.png" alt> #}
			<div class="parallax-1">

				<picture class="windturbine-1 parallax-item">
					<source srcset="{{ url.step1 }}img/turbines/windturbines-1.webp"
						type="image/webp">
					<img class="windturbine-1 parallax-item"
						src="{{ url.step1 }}img/turbines/windturbines-1.png"
						alt="image">
				</picture>
				<picture class="windturbine-2 parallax-item">
					<source srcset="{{ url.step1 }}img/turbines/windturbines-2.webp"
						type="image/webp">
					<img class="windturbine-2 parallax-item"
						src="{{ url.step1 }}img/turbines/windturbines-2.png"
						alt="image">
				</picture>
				<!-- <img class="windturbine-1 parallax-item"
					src="{{ url.step1 }}img/turbines/windturbines-1.png" />
				<img class="windturbine-2 parallax-item"
					src="{{ url.step1 }}img/turbines/windturbines-2.png" /> -->
				<img class="windturbine-fan-1 fan-item"
					src="{{ url.step1 }}img/turbines/windturbines-fan-1.png" />
				<img class="windturbine-fan-2 fan-item"
					src="{{ url.step1 }}img/turbines/windturbines-fan-2.png" />
				<img class="windturbine-fan-3 fan-item"
					src="{{ url.step1 }}img/turbines/windturbines-fan-3.png" />
				<img class="windturbine-fan-4 fan-item"
					src="{{ url.step1 }}img/turbines/windturbines-fan-4.png" />
				<img class="windturbine-fan-5 fan-item"
					src="{{ url.step1 }}img/turbines/windturbines-fan-5.png" />
				<img class="windturbine-fan-6 fan-item"
					src="{{ url.step1 }}img/turbines/windturbines-fan-6.png" />

				<img src="{{ url.step1 }}img/turbines/pattern.png"
					class="parallax-1_pattern" alt>
			</div>
		</div>
	</section>
</div>

<section class="bg-beige pt-[100px] xs:pt-[60px]">
	<div class="width-container" data-light-bl="-200, 0">
		<div class="content-wrapper mb-[90px] xs:mb-[40px]">
			<div class="col-start-3 col-span-8">
				<h2 class="section-title text-red" data-type="title">A Eureka Moment</h2>
				<div class="text-block fadeIn" data-scroll>
					<p>
						Enkhtsetseg’s realization that Mongolia has immense untapped potential was
						shaped by his personal and professional experience. Born in Mongolia but
						educated in New York—two corners of the world that couldn’t be more
						different—Enkhtsetseg returned home after graduating in 2014. After a
						stint working in Mongolia’s mining sector, the backbone of the country’s
						economy, he set his sights on an industry that aligned closer with his
						passions: green energy generation.
					</p>
					<p>
						In 2017, Enkhtsetseg took on the role of CEO at Clean Energy Asia LLC,
						where he oversaw the completion of the Tsetii Wind Farm Project,
						Mongolia’s second wind farm. For Enkhtsetseg, the project’s successful
						completion was pivotal. He saw firsthand the job generation opportunities
						of wind farms in a country struggling with unemployment and
						underemployment as the project recruited hundreds of people, the vast
						majority Mongolians. He also witnessed the speed and efficiency in which
						an ambitious wind farm like Tsetii, which was completed ahead of schedule,
						could be executed in Mongolia.
					</p>
				</div>
			</div>
		</div>
		<div class="content-wrapper media-block">
			<div
				class="flex items-end media-block__media sm:justify-center sm:mb-[60px] xs:mb-[40px] xl:mr-[-6%] sm:mr-[0]">
				<div class="overflow-hidden rounded-[45%_45%_0_0] sm:text-center">

					<picture class="scaleDown block" data-scroll>
						<source srcset="{{ url.step1 }}img/article.webp"
							type="image/webp">
						<img
							src="{{ url.step1 }}img/article.png"
							alt="image">
					</picture>
					<!-- <img class="scaleDown" data-scroll src="{{ url.step1 }}img/article.png"> -->
				</div>
			</div>
			<div
				class="col-start-7 col-span-5 flex flex-col gap-[40px] xl:ml-[-6%] sm:ml-[0]">
				<p class=" fadeIn" data-scroll>
					But above all, Enkhtsetseg realized the opportunity of Mongolia’s green
					energy generation capabilities. The project proved to him that Mongolia
					could play a key role in the world’s decarbonization efforts and become an
					important combatant in the fight against climate change.
				</p>
				<blockquote>
					<span class="block text-green">“</span>
					<p class="text-green" data-split>
						I realized that the best thing I could do to fight climate change was to
						try and provide a platform for equitable economic empowerment across the
						board.
					</p>
					<figcaption>
						Orchlon Enkhtsetseg
					</figcaption>
				</blockquote>
				<p class=" fadeIn" data-scroll>
					In 2021 Enkhtsetseg founded and became CEO of URECA, a startup empowering
					grassroots involvement in the fight against climate change using blockchain
					technology, and enabling companies and individuals to invest in various
					carbon offsetting projects, including the platform’s pilot programs in
					green energy-rich Mongolia.
				</p>
			</div>
		</div>
	</div>
	<div
		class="poster mt-[100px] xs:mt-[50px] bg-[url('{{ url.step1 }}img/poster.jpg')] h-screen relative bg-no-repeat bg-cover overflow-hidden">
		<div class="full-screen" data-scroll data-scroll-speed="-8"
			data-scroll-offset="-50%, -50%">
			<img
				class="full-screen object-cover xs:scale-[1] tab-p:scale-[1] portrait:hidden"
				src="{{ url.step1 }}img/poster.jpg" alt>
			<img
				class="full-screen object-cover xs:scale-[1] tab-p:scale-[1] hidden portrait:block"
				src="{{ url.step1 }}img/poster-mob.jpeg" alt>
		</div>
		<div class="width-container relative z-10">
			<div class="content-wrapper text-white">
				<blockquote
					class="col-span-6 md:col-span-7 pt-[115px] -xl sm:pr-[30vw] portrait:pt-50 xs:portrait:pt-[19px] portrait:pr-[0vw] xs:pt-20 xs:pr-0">
					<span class="block text-orange">“</span>
					<p class="portrait:!text-[45px] xs:portrait:!text-[30px] xs:text-inherit"
						data-split>
						In the Gobi Desert alone, we have enough wind and solar resources to power
						all of Northeast Asia.
					</p>
					<figcaption class="portrait:!text-[18px] xs:portrait:!text-[14px]">
						Orchlon Enkhtsetseg
					</figcaption>
				</blockquote>
			</div>
		</div>
	</div>
</section>
<div data-light-bl="-200, 0">
	<div class="map-outer">
		{% include "./_map.twig" %}
	</div>
	<section class="my-[100px] xs:my-50">
		<div class="width-container">
			<h2 class="section-title text-green" data-type="title">An Opportunity for
				Change</h2>
			<div class="content-wrapper">
				<div class="text-block col-start-3 col-span-8">
					<p class=" fadeIn" data-scroll>According to the World Bank Group and Asian
						Development Bank, average temperatures in Mongolia are already 2°C warmer
						than they were at the beginning of last century, which is higher than the
						global average. At the same time, future warming is projected to be faster
						than in other parts of the world, putting additional strain on health,
						livelihoods, and ecosystems. According to Enkhtsetseg, this is already
						keenly felt by the country’s nomadic herder community, who are contending
						with diminished water supplies. But crisis can inspire solutions,
						especially in Mongolia.</p>
					<blockquote class="-xl">
						<span class="block text-red">“</span>
						<p class="text-red" data-split>Mongolia is in a position to lead the fight
							against climate change, partly because we are so affected by it.
						</p>
						<figcaption>
							Orchlon Enkhtsetseg
						</figcaption>
					</blockquote>
					<p class=" fadeIn" data-scroll>
						The World Bank also notes that over the past 30 years, Mongolia has
						transformed into a vibrant democracy, trebling its GDP per capita,
						reducing
						poverty, and increasing school enrollments. Business owners like
						Enkhtsetseg believe this stability has also benefited the country’s
						investment landscape. “I’m confident that we have a very robust democracy,
						and I think that this is one of the factors that has enabled significant
						foreign investment in the country.”
					</p>
				</div>
			</div>
		</div>

		<div
			class="media-ellipse my-[100px] xs:my-[40px] sm:my-[60px] overflow-hidden">
			<div class="width-container">
				<div class="content-wrapper">
					<video
						class="h-[274px] sm:w-[70%] sm:h-[170px] xs:w-[220px] xs:h-[83px] sm:mx-auto object-cover w-full rounded-full col-start-2 col-span-10 md:col-start-3 md:col-span-8"
						autoplay loop muted playsinline data-video-preload>
						<!-- <source src="{{ url.step1 }}video/video2.mp4" type="video/mp4"> -->
						<source
							data-src="https://player.vimeo.com/progressive_redirect/playback/877414203/rendition/360p/file.mp4?loc=external&signature=e2608d6f030a668aeba0a27a9619c86d10acdddc309cf2c89ef3467b84ba5525"
							type="video/mp4">
					</video>
				</div>
			</div>
		</div>
		<div class="width-container">
			<div class="content-wrapper">
				<div class="text-block col-start-3 col-span-8 fadeIn" data-scroll>
					<p>The government is encouraging foreign direct investment in non-mining
						sectors including agriculture, tourism, and green energy, and implementing
						policies such as tax incentives, investment promotion, and special
						economic
						zones that are making it easier to do business in the country. “The
						government’s Ministry of Culture and the Ministry of Digital Development
						and Communications have been really helpful in driving the startup
						ecosystem,” notes Enkhtsetseg.</p>
					<p>All this progress will be on show when Mongolia hosts the COP17 of the
						United Nations Convention to Combat Desertification in 2026, by which time
						Mongolia should be well on its way toward becoming a net zero economy by
						2050.</p>
				</div>
			</div>
		</div>
	</section>
</div>
<section class="bg-red horizontal-section">
	{% include 'pages/home/_horizontal.twig' %}
</section>
<section class="bg-beige pt-[100px] xs:pt-60">
	<div class="width-container" data-light-bl="-200, 0">
		<h2 class="section-title text-orange" data-type="title">Recharge in Nature</h2>
		<div class="content-wrapper media-block">
			<div
				class="flex items-center xs:flex-col media-block__media sm:mb-40 xl:mr-[-6%] sm:mr-[0]">
				<p class="fadeIn hidden xs:block xs:mb-30" data-scroll>In preparation for
					increased interest in Mongolia—from both investors and travelers—the
					country’s tourism sector is undergoing a transformation, says Minister of
					Culture Nomin Chinbat. [Note: Quote from the Minister of Culture].</p>

				<video class="h-[320px] xs:h-[54vw] object-cover w-full" autoplay loop muted
					playsinline data-video-preload>
					<!-- <source src="{{ url.step1 }}video/video.mp4" type="video/mp4"> -->
					<source
						data-src="https://player.vimeo.com/progressive_redirect/playback/877414179/rendition/360p/file.mp4?loc=external&signature=53e1f4bc8318908de8849693a62691e870fe3bfed635aacd08e5f51bf1fc496a"
						type="video/mp4">
				</video>
			</div>
			<div class="media-block__text xl:ml-[-6%] sm:ml-[0]">
				<p class="fadeIn xs:hidden" data-scroll>In preparation for increased
					interest in Mongolia—from both investors and travelers—the country’s
					tourism sector is undergoing a transformation, says Minister of Culture
					Nomin Chinbat. [Note: Quote from the Minister of Culture].
				</p>
				<blockquote>
					<span class="block text-green">“</span>
					<p class="text-green" data-split>
						Additionally, new infrastructure is being developed with increased
						investment in road connectivity, logistics efficiency, and domestic air
						travel.
					</p>
					<figcaption class="flex items-center mt-4">

						<img src="{{ url.step1 }}img/avatar.png" class="h-20 w-20 mr-4">
						<div>
							<p>Nomin Chinbat</p>
							<span class="text-[13px]">Minister of Culture of Mongolia</span>
						</div>
					</figcaption>

				</blockquote>
			</div>
		</div>
	</div>
	{# <div
		class="poster -mt-[20vh] bg-[url('{{ url.step1 }}img/parallax.png')] bg-size-full bg-no-repeat bg-bottom"></div>
	#}
	<div class="mt-[100px] sm:mt-50 xs:mt-20 bg-no-repeat bg-bottom bg-size-full">
		<div class="parallax-2">
			<img class="layer-1 paralax-first parallax-item"
				src="{{ url.step1 }}img/parallax/parallax-1.png" />
			<img class="layer-2 parallax-item"
				src="{{ url.step1 }}img/parallax/parallax-2.png" />
			<img class="layer-3 parallax-item"
				src="{{ url.step1 }}img/parallax/parallax-3.png" />
		</div>
	</div>
</section>
<section class="my-[100px] xs:my-50">
	<div class=" width-container" data-light-bl="-200, 0">
		<div class="content-wrapper mb-[100px] sm:mb-40">
			<div
				class="col-span-6 text-block flex flex-col justify-end sm:mb-40 xl:mr-[-6%] sm:mr-[0]">
				<p class="pr-[100px] xl:pr-0 fadeIn" data-scroll>This will make it easier
					for business people like Enkhtsetseg who are looking to relax, switch off,
					and enjoy Mongolia’s wilderness. Some of Enkhtsetseg’s favorite activities
					include horse-riding in Gorkhi Terelji National Park, just 40 miles (65 km)
					northeast of Ulaanbaatar, taking the two-day drive to soak in the Tsenkher
					Hot Springs, or getting away from it all in Hovd Province in the extreme
					west, accessible by flight. There are also opportunities to delve into
					nature close to Ulaanbaatar, says Enkhtsetseg.
				</p>
				<blockquote>
					<span class="block text-orange">“</span>
					<p class="text-orange" data-split>
						You can be fishing all morning in the wilderness but back in the city and
						ready for a tuxedo reception by dinnertime.
					</p>
					<figcaption>
						Orchlon Enkhtsetseg
					</figcaption>

				</blockquote>
			</div>
			<div
				class="col-start-8 col-span-4 md:col-span-5 md:col-start-8 flex items-end justify-center xl:ml-[-6%] sm:ml-[0]">
				<div class="overflow-hidden rounded-[45%_45%_0_0]">

					<picture class="media-block__media">
						<source
							srcset="{{ url.step1 }}img/article2.webp"
							type="image/webp">
						<img class="scaleDown"
							data-scroll
							src="{{ url.step1 }}img/article2.png"
							alt="image">
					</picture>
					<!-- <img src="{{ url.step1 }}img/article2.png"
						class=" media-block__media scaleDown"
						data-scroll> -->
				</div>
			</div>
		</div>
	</div>
	<div class="width-container">
		<div class="content-wrapper mb-[100px] xs:mb-50">
			<p class="col-start-3 col-span-8 fadeIn" data-scroll>
				Mongolia’s economy is evolving and its green energy sector is powering
				infrastructure investment in hard-to-reach areas, opening up remote
				locations for non-traditional travel experiences. Standing on the frontlines
				in the fight against climate change, Mongolia’s future green energy projects
				may also be crucial to the world’s decarbonization efforts–and therefore key
				to safeguarding the very natural environments that host them.
			</p>
		</div>
		<div class="content-wrapper">
			<img src="{{ url.step1 }}img/travel-widget.png" class="col-span-12 sm:hidden">
			<img src="{{ url.step1 }}img/travel-widget.svg"
				class="col-span-12 hidden sm:block w-full">
		</div>
	</div>
</section>
