<div class>
    <div data-horizontal data-skip-mobile="true" data-usw="true" class>
        <div class="right-hz mb-100 sm:mb-0 portrait:mb-0" data-offset="-40"
            data-horizontal-img-wrap>
            <div
                class="col-start-2 col-span-10 sm:col-span-8 xs:col-span-12 right-hz_wrap"
                data-horizontal-img>
                {# <div> #}

                    <div
                        class="h-block mr-[110px] sm:mr-0 portrait:mr-0 xs:mr-50 overflow-hidden">
                        <img src="{{ url.step1 }}img/horizontal.jpg"
                            class="h-full w-auto xs:w-full xs:h-auto" alt>
                    </div>

                    <div
                        class="h-block flex flex-col justify-center mr-[110px] sm:mr-0 portrait:mr-0">
                        <header>
                            <h2 data-split data-type="title">Business Events in
                                Mongolia</h2>
                            {# <button class="btn-right"></button> #}
                            <button class="btn-right">
                                <div class="btn-right_arrow">
                                    <span></span>
                                    <span></span>
                                </div>
                            </button>
                        </header>

                        <div
                            class="flex items-end h-block_content ml-[100px] xs:pl-50 mt-[60px] portrait:ml-auto portrait:mt-[10px] portrait:items-start">
                            <div class="bg-pattern bg-pattern_mobile-one">
                                <div class="overflow-hidden">
                                    <picture>
                                        <source
                                            srcset="{{ url.step1 }}img/horizontal/h-1.webp"
                                            type="image/webp">
                                        <img
                                            src="{{ url.step1 }}img/horizontal/h-1.jpg"
                                            alt="image">
                                    </picture>
                                    <!-- <img
                                        src="{{ url.step1 }}img/horizontal/h-1.jpg"
                                        alt> -->
                                </div>
                            </div>

                            <div class="h-block_text ml-[25px] xs:mb-0">
                                <h3>Mongolia <br>Economic Forum</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur. At
                                    ac dictum eu ut in interdum dolor nunc
                                    sollicitudin.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="h-block event-2 mr-[140px] xs:mr-50">
                        <div class="flex h-block_content h-full">
                            <div class="h-full overflow-hidden">
                                <img class="h-full w-auto xs:w-full xs:h-auto"
                                    src="{{ url.step1 }}img/horizontal/h-2.jpg" alt>
                            </div>

                            <div
                                class="h-block_text ml-[25px] relative top-[35%]">
                                <h3>Business Events 2</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>
                        </div>
                    </div> -->

                    <div
                        class="h-block mr-[200px] flex items-center pt-[2vh] sm:mr-[0] portrait:mr-[50px] xs:ml-0 sm:justify-start">
                        <div class="h-block_content h-auto">

                            <div
                                class="h-block_text mb-[30px] xs:mt-[30px] portrait:mb-[0px]">
                                <h3>NAS Summit</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>
                            <div
                                class="w-[380px] h-xs:w-[330px] portrait:w-[450px] xs:w-auto xsm:portrait:w-auto overflow-hidden">

                                <picture class="w-full h-auto block">
                                    <source
                                        srcset="{{ url.step1 }}img/horizontal/h-3.webp"
                                        type="image/webp">
                                    <img class="w-full h-auto"
                                        src="{{ url.step1 }}img/horizontal/h-3.jpg"
                                        alt="image">
                                </picture>
                                <!-- <img class="w-full h-auto"
                                    src="{{ url.step1 }}img/horizontal/h-3.jpg"
                                    alt> -->
                            </div>
                        </div>
                    </div>

                    <div
                        class="h-block h-block_h-sm-pt-non flex items-start mr-[200px] pt-[10vh] portrait:pt-[0px] xs:mr-0 xs:ml-50 portrait:justify-end">
                        <div class="h-block_content h-auto">

                            <div class="bg-pattern-mob-init">
                                <div
                                    class="w-[640px] xs:w-auto overflow-hidden">
                                    <picture class="w-full h-auto block">
                                        <source
                                            srcset="{{ url.step1 }}img/horizontal/h-4.webp"
                                            type="image/webp">
                                        <img class="w-full h-auto"
                                            src="{{ url.step1 }}img/horizontal/h-4.jpg"
                                            alt="image">
                                    </picture>
                                    <!-- <img class="w-full h-auto"
                                        src="{{ url.step1 }}img/horizontal/h-4.jpg"
                                        alt> -->
                                </div>
                            </div>

                            <div
                                class="h-block_text mt-[30px] xs:mt-0 portrait:mt-[30px]">
                                <h3>Mining Week</h3>
                                <p>Lorem ipsum dolor sit amet consectetur. At ac
                                    dictum eu ut in interdum dolor nunc
                                    sollicitudin. </p>
                            </div>
                        </div>
                    </div>
                    {# </div> #}
            </div>
        </div>
    </div>
</div>